
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
  --color-primary: #FFB30E;
  --font-sans: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-sans);
}